@model SV.Maat.Entries.Models.Entry;
<article class="h-entry">
    <header>
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h2 class="p-name">@Model.Title</h2>
        }
    </header>
    @if (!string.IsNullOrEmpty(Model.Bookmark))
    {
        <a href="@Model.Bookmark" class="u-bookmark-of">🔖 link</a>
    }
    <section class="e-content">@Html.Raw(Model.Body)</section>
    @if (Model.Photos.Any())
    {
        <ul class="photos">
            @foreach (var p in Model.Photos)
            {
                <li><a href="@p.Url" rel="canonical" target="_blank"><img alt="@p.Description" src="@p.Url/64" class="u-photo"/></a></li>
            }
        </ul>
    }
    @if (Model.Categories.Any())
    {
        <ul class="categories">
            @foreach (string c in Model.Categories)
            {
                <li class="p-category">#@c</li>
            }
        </ul>
    }
    @if (Model.AlternateVersions != null && Model.AlternateVersions.Any())
    {
        <ul class="syndications">
            <li><a href="@Model.Url" rel="canonical" class="u-url">@Model.PublishedAt.ToString("G")</a></li>
            @foreach (var s in Model.AlternateVersions)
            {
                <li><a href="@s.Url" class="u-syndication syndication"><i class="fab fa-@s.Name.ToLower() icon" alt="@s.Name">&nbsp;</i></li>
            }
        </ul>
    }
    <p></p>
</article>