<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="micropub" href="@Url.Action("Publish", "Micropub")">
    <link rel="authorization_endpoint" href="@Url.Action("AuthenticationRequest", "IndieAuth")">
    <link rel="token_endpoint" href="@Url.Action("TokenRequest", "IndieAuth")">

    <link rel="stylesheet" href="/css/maat.css" />
    <script src="https://kit.fontawesome.com/887b85ac9e.js" crossorigin="anonymous"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <img src="~/images/brand/hiero_C10.png" alt="Hieroglyph of a seated figure facing left with a feather in its hair, the representation of tge Ancient Egyptian goddess Ma'at" />
        <h1>Maat</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
